<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.mapper.UserMapper">
    <select id="selectAll" resultType="com.atguigu.entity.User">
        SELECT id,name,age,email
        FROM user
    </select>

    <select id="selectPageByPage" resultType="com.atguigu.entity.User">
        select * from user where age>#{age}
    </select>
</mapper>